extends layout

block content
  a(href='/users') User List
  h1 Listing passes
  table.table
    tr
      th Serial Number
      th Logo Text
      th Description
      th Background Color
      th Creted
      th Updated
      th Download
      th Edit
      th Push 更新
    each pass in passes
      tr
        td= pass.serialNumber
        td= pass.logoText
        td= pass.description
        td= pass.backgroundColor
        th= pass.created
        th= pass.updated
        td
          a(href='/v1/passes/'+passTypeIdentifier+'/' + pass.serialNumber) download
        td
          a(href='/passes/'+pass.id+'/edit') Edit
        td
          a(href='/notify/'+pass.serialNumber) Push
  br
  a(href='/passes/new') New Pass